.headeroptions {
  margin-right: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100px;
  text-align: center;
  font-size: x-large;
  justify-content: center;
  align-items: center;
}
.headeroptions span {
  font-size: x-large !important;
}
